@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 16px;

  --color-accent-100: #e63946;
  --color-accent-200: #ef233c;
  --color-accent-300: #d90429;
}

html {
  scroll-behavior: smooth;
}

body,
#__next {
  box-sizing: border-box;
}
